@media (max-width: 2140px){  
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }
      .welcome{
        background-color: #21252e;
        border-radius: 10px;
        opacity: 0.9; 
        padding: 15px;
        }
        .welcomepagebutton{
            width: 70%;
            margin: auto;
            margin-top: 15px;
        }
        nav>div>a{
          display: flex;
            position: relative;
            float: left;
        } 
      img{
        border-radius: 10px;
      }
      .navbrand{
        position: relative;
        float: left;
      }
      .navbrandtext{
        font-weight: bold;
        font-size: large;
        font-family: sans-serif;
      }
      .text {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        animation: fadeIn 3s ease-in-out;
      }
 
    .dropdown{
        width: 100%;
       }
       .payment-card{
        width: 79%;
    }
    .backgroundImg {
        height: 100vh;
        width: 100%;
        background-size:cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    .hompagebuttons{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding-top: 20px; 
        width: 400px;
        margin: 0 auto;
}
.btn{
    margin: 0px auto;
    width: 80%;
    font-size: large;
    font-weight: 600;
    height: 3em;
    text-align: center;
}
input{
    display: flex;
    margin: 20px auto;
    outline: none;
    width: 100%;
}
.card {
    width: 24%;
    background-color: #21252e;
    border-radius: 20px;
    opacity: 0.9; 
}
.card h1{
    margin: 5px auto 3px;
    font-weight: bolder;
    font-size: 30px;
    font-family: sans-serif;
    width: 50%;
    justify-content: center;
}
.card > h3{
    margin-top: 30px;
    width: 80%;
    margin-left: 13px;
    font-weight: bold;
    font-family: sans-serif;
}
}
@media (max-width: 1380px){  
    .dropdown{
        width: 100%;
       }
    .payment-card{
        width: 79%;
       }
    .backgroundImg {
        height: 100vh;
        width: 100%;
        background-size:cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    .hompagebuttons{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            padding-top: 20px; 
            width: 400px;
    }
    .btn{
        margin: 0px auto;
        width: 80%;
        font-size: medium;
        font-weight: 600;
        height: 3em;
        text-align: center;
    }
    input{
        display: flex;
        margin: 20px auto;
        outline: none;
        width: 100%;
    }
    .card {
        width: 50%;
        background-color: #21252e;
        border-radius: 20px;
        opacity: 0.9; 
        padding: 10px;
    }
    .card > h3{
        margin-top: 30px;
        width: 80%;
        margin-left: 13px;
    }
}

@media (max-width: 940px){  
    .homepage >div > h1{
        font-size: 39px;
        font-weight: bold;
        color: aliceblue;
    }
   .dropdown{
    width: 50%;
   }
   .payment-card{
    width: 93%;
   }
    .backgroundImg {
        height: 100vh;
        width: 100%;
        background-size:cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    .hompagebuttons{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 20px; 
            width: 200px;
    }
    .btn{
        width: 95%;
        text-align: center;
    }
    .priceinput{
        display: flex;
        margin: 20px 0  0 10px;
        outline: none;
        color: aliceblue;
        background-color: transparent;
        width: 100%;
    }
    .card {
        background-color: #21252e;
        border-radius: 10px;
        opacity: 0.9; 
    }
    .card > h3{
        margin-top: 15px;
        width: 50%;
        margin-left: 15px;
    }    
}
@media (max-width: 670px){  
    .homepage >div > h1{
        font-size: 34px;
        font-weight: bold;
        color: aliceblue;
        display: flex;
        text-align: center;
    }
    .text {
        width: 80%;
        margin: 0 auto;
      }
    .welcome{
        border-radius: 10px;
    }
    .navbrandtext{
        font-family: sans-serif;
        font-size: larger;
    }
    .card{
        width: 85%;
    }
}



