@media (max-width: 450px) {
    a {
        text-decoration: none !important;
        color: white !important;
    }
    .backgroundImg {
        height: 100vh !important;
        width: 100% !important;
        background-size: cover !important;
        background-position: center !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .hompagebuttons {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
        padding-top: 20px !important;
        width: 200px !important;
    }
    .btn {
        width: 100% !important;
        text-align: center !important;
    }
    input {
        display: flex !important;
        margin: 10px auto !important;
        outline: none !important;
        color: white !important;
        background-color: transparent !important;
        width: 100% !important;
    }
    input::placeholder {
        color: white !important;
    }
    .card {
        width: 70% !important;
        padding: 20px !important;
        margin: 50px auto !important;
        background-color: #21252e !important;
        border-radius: 20px !important;
    }
}
