@media (max-width: 450px){  
    a{
        text-decoration: none;
        color: white;
    }
    .backgroundImg {
        height: 100vh;
        width: 100%;
        background-size:cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hompagebuttons{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 20px; 
            width: 200px;
    }
    .btn{
        width: 100%;
        text-align: center;
    }
    input{
        display: flex;
        margin: 10px auto;
        outline: none;
        color: white;
        background-color: transparent;
        width: 100%;
    }
    input::placeholder {
        color: white; 
    }
    
    .card{
        width: 70%;
        padding: 20px;
        margin: 50px auto;
        background-color:#21252e ;
        border-radius: 20px;
    }
}


