@media (max-width: 450px) {
    .navbar {
        width: 100% !important;
        height: 90px !important;
        background-color: #21252e !important;
        margin: 0 !important;
    }
    .navbar img {
        margin-left: 20px !important;
        border-radius: 30% !important;
        /* height: 50px; Adjust to ensure it fits well */
    }
    .navbar h3 {
        margin-top: 25px !important;
        float: right !important;
        font-size: 16px !important; /* Adjust font size for smaller screens */
    }
}
