@media (max-width: 450px) {
    .navbar {
        width: 100% ;
        height: 90px ;
        background-color: #21252e ;
        margin: 0 ;
    }
    .navbar img {
        margin-left: 20px ;
        border-radius: 30% ;
        height: 50px;
    }
    .navbar h3 {
        margin-top: 25px ;
        float: right ;
        font-size: 16px ;
    }
}
